#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #8f8f8f;

  --gold: #e2b714;
  --tile: #515151;
  --green-tile: #526e47;
  --green-letter: #3cdd41;
  --red-tile: #754c4c;
  --red-letter: #ff4747;
  --background: #242424;
}

.paragraph {
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.word {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.letter {
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  width: 24px;
  height: 30px;
  border-bottom: 4px solid var(--background);
  margin-bottom: 5px;
  margin-top: 10px;
}

.active {
  border-bottom: 4px solid var(--gold);
  border-radius: 3px 3px 0px 0px;
}

.correct {
  color: white;
  border-radius: 3px;
}

.incorrect {
  color: var(--red-letter);
  border-color: var(--red-tile);
  border-radius: 3px;
}
