#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #8f8f8f;

  --gold: #e2b714;
  --tile: #515151;
  --green-tile: #526e47;
  --green-letter: #3cdd41;
  --red-tile: #754c4c;
  --red-letter: #ff4747;
  --background: #242424;
  --white-background: #efd5b2;
}

.paragraph {
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.word {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.letter {
  font-weight: 450;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  border-bottom: 4px solid var(--background);
  margin-bottom: 5px;
  margin-top: 10px;
  padding-right: 1px;
  min-width: 12px;
  min-height: 45px;
}

.active {
  border-bottom: 4px solid var(--gold);
}
.correct {
  color: white;
  border-radius: 3px;
}

.incorrect {
  color: var(--red-letter);
  border-color: var(--red-tile);
}
