#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --gold: #e2b714;
  --tile: #515151;
  --green-tile: #526e47;
  --red-tile: #754c4c;
}

.line {
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.word {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.letter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  font-family: Roboto, sans-serif;
  background-color: var(--tile);
  border-radius: 3px;
  border-bottom: 4px solid var(--tile);
  border-top: 4px solid var(--tile);
  width: 40px;
  height: 40px;
  margin: 1.5px;
}

.active {
  border-bottom: 4px solid var(--gold);
  border-radius: 3px 3px 0px 0px;
}

.correct {
  background-color: var(--green-tile);
  border-color: var(--green-tile);
  border-radius: 3px;
}

.incorrect {
  background-color: var(--red-tile);
  border-color: var(--red-tile);
  border-radius: 3px;
}
