#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;

  --box-content: #0b2332;
  --pale-grey: #8f8f8f;
  --gold: #e2b714;
  --tile: #515151;
  --background: #242424;
}

.line-level {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5vh;
}

.arrow-and-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow {
  padding-left: 20px;
  width: 30px;
  padding-right: 20px;
}
