#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;

  --box-content: #0b2332;
  --pale-grey: #8f8f8f;
  --gold: #e2b714;
  --tile: #515151;
  --background: #242424;
}
