#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.textToWrite {
  font-family: roboto;
  font-size: 2em;
}

.paragraph-wrapper {
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 40vh;
  overflow-y: auto;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  border: 1px solid black;
  padding: 10px;
}

.scrollable-container {
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 40vh;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  padding: 10px;
}

.scrollable-content {
  position: relative;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
