* {
  padding: 0px;
  margin: 0px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  min-width: 1000px;

  --box-content: #0b2332;
  --pale-grey: #8f8f8f;
  --gold: #e2b714;
  --tile: #515151;
  --background: #242424;
}

/*Progression Page*/
.progression {
  display: flex;
  margin-top: 4vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line-level {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5vh;
}

.arrow-and-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow {
  padding-left: 20px;
  width: 30px;
  padding-right: 20px;
}

/*Underligned*/
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;

  --gold: #e2b714;
  --green-letter: #3cdd41;
  --red-letter: #ff4747;
  --background: #242424;
}

.paragraph {
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.word {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.letter {
  font-weight: 450;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  border-bottom: 4px solid var(--background);
  margin-bottom: 5px;
  margin-top: 10px;
  padding-right: 1px;
  min-width: 12px;
  min-height: 45px;
  color: grey;
}

.active {
  border-bottom: 4px solid var(--gold);
}
.correct {
  color: white;
  border-radius: 3px;
}

.incorrect {
  color: var(--red-letter);
  border-color: var(--red-tile);
}
